.currency_table {
	list-style: none;
	color: #000; // Set text color to black
  
	.header,
	.row {
	  border-radius: 12px;
	  display: flex;
	  padding: 1rem;
	  border: rgba(0, 0, 0, 0) 1px solid;
	  cursor: pointer;
  
	  & > * {
		flex-basis: 33.33%;
	  }
  
	  &:hover {
		border: lighten(#ff6f61, 20%) 1px solid; // Light red on hover
	  }
	}
  
	.header {
	  background-color: #f1f1f1;  // Light gray (close to white)
	  &:hover {
		border: rgba(0, 0, 0, 0) 1px solid;
	  }
	}
  
	.row-no-hover {
	  border: none;
	  cursor: default;
	  &:hover {
		border: none;
	  }
	}
  }
  